JWT_SECRET=e99f91cc2f0ff7afe1078663294ca3aa
JWT_REFRESH_SECRET=9b44396597e0352d19d6f52c7dd2f1b8
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

NEXT_PUBLIC_API_URL=/api
NODE_ENV=development
EMAIL_ENCRYPTION_KEY=3f7aefebb5c5f57af65458f76f1131ea

HOST="http://localhost:3000"
IRON_SESSION_PASSWORD=cdd9c7d30830dfe7b37cd5a4818bc1dd
DATABASE_URL="mysql://usrname:pass@localhost:3306/db"
ALLOW_REGISTER="allow"

SMTP_SMTP="smtp.gmail.com"
SMTP_USERNAME="galeentest@gmail.com"
SMTP_PASSWORD="zsgc vbap opvp fchf"
SMTP_SENDFROM="galeentest@gmail.com"
SMTP_NAME="GaleenTest DatingApp"
SMTP_PORT=465